<!-- attendace/templates/attendance/base.html -->
<!-- <script src="https://unpkg.com/htmx.org@1.7.0"></script> -->

<html>
  <head>
    <!-- <title>{% block title %}{% endblock %}</title> -->
    <title>Library Attendance</title>
    {% load static %}

    <link rel="icon" type="image/x-icon" href="{% static '\favicon_io\favicon.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '\attendance\css\vendor\boostrap\css\bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '\attendance\css\main.css' %}">

    <!-- Query -->
    <script src="{% static '\admin\js\vendor\jquery\jquery.js' %}"></script>
    <!-- BooostrapJS -->
    <style src="{% static '\attendance\js\vendor\bootstrap\js\bootstrap.min.js' %}"></style>
  </head>

  <body class="bg-green-light">
    {% block attendance-form %}
    {% endblock %}

    {% block live-attendance %}
    {% endblock %}
  </body>

  <div id="footer" class="footer">
    <div id="footer-content" class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div id="foot-flaticon"class="px-md-5">
            <a href="https://www.flaticon.com/free-icons/person" title="person icons">Person icons created by Freepik - Flaticon</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var message_ele = document.getElementById("message_container");

    // FIXME: Improve hidding, add animation
    setTimeout(function(){ 
      // $('.message_container').collapse('toggle'); 
      message_ele.style.display = 'none';
    }, 2800);
  </script> 

<html>
